:root {
	--base-alert: #FF0033;
	--base-divider: #00FF99;
	--base-surface: #FF6600;
	--base-warning: #FFCC00;
	--base-elements: #FF33CC;
	--base-background: #FF00FF;
	--base-card-shadow: 0px 4px 12px 0px #FF660029;
	--base-modal-shadow: 0px 10px 40px 0px #FF660033;
	--primary-link: #00FF00;
	--base-text-primary: #FFFF00;
	--primary-hover: #FF00FF;
	--primary-solid: #00CCFF;
	--base-status-active: #00FF66;
	--base-colored-shadow: #FF33CC;
	--base-elements-hover: #FF3399;
	--base-status-expired: #FF99CC;
	--base-status-offline: #FF99CC;
	--base-status-pending: #FFFF66;
	--base-text-on-color-bg: #FFFFFF;
	--base-text-secondary: #FFFF99;
	--base-tooltip-shadow: 0px 2px 8px 0px #FF00331F;
	--base-status-approved: #66FFCC;
	--base-status-canceled: #FF3333;
	--primary-gradient: linear-gradient(93.25deg, #FF9900 2.68%, #FFCC99 97.32%);
	--base-text-placeholder: #FF9999;
	--primary-link-hover: #FF6600;
	--base-status-subscribed: #66FFCC;
	--base-input-active-shadow: none;
	--base-input-normal-shadow: none;
	--base-button-active-shadow: none;
	--base-button-normal-shadow: none;
	--base-status-cancellation: #FF0000;
	--base-status-unsubscribed: #FF66FF;
	--primary-font-family: Montserrat;
	--secondary-font-family: Montserrat;

	--bg-competitor1: #00FF66;
	--text-competitor1: #00FF66;
	--bg-competitor2: #00CCFF;
	--text-competitor2: #00CCFF;
	--bg-main-lighter: rgba(255, 255, 255, 0.4);
	--text-default: #FF0000;
	--text-lighter: #FFFF66;
	--text-highlighted: #FFFF00;
	--text-active: #FF9933;
	--body-main: #00CCFF;
	--active-dark: #FF00CC;
	--text-inverted: #FF6600;
	--bg-main-light: #FF6600;
	--bg-main-elements: #FF3399;
	--bg-main-layouts: #FF3366;
	--bg-main-body: #FF0033;
	--bg-light-grey: #FF99CC;
	--bg-active: #FF00FF;
	--bg-main-elements-active: #FF33FF;
	--bg-panel: #FF00CC;
	--bg-alert-regular: #FF3399;
	--red-bg-color: #FF3333;
	--borders-main: #FF66FF;
	--bg-error: #FF3366;
	--event-header-gradient-right: #FF33FF;
	--event-header-gradient-left: #FF00FF;
	--live-event-header-gradient-right: #FF33FF;
	--live-event-header-gradient-left: #FF00FF;
	--slider-gradient-top: #FF00FF;
	--slider-gradient-bottom: #FF3399;
	--slider-control: #FF3399;
	--combo-booster-filler: #FF99CC;
	--combo-booster-filler-border: #FFCCFF;
	--mobile-menu-top: #FF33CC;
	--mobile-menu-bottom: #FF00FF;
	--default-border-radius: 12px;
	--bg-active-gradient: linear-gradient(225deg, #FFCC00 36.46%, #FF3333 100%);
	--bg-active-lobby-filters: rgba(255, 102, 0, 0.1);
	--bg-icon-all-countries: linear-gradient(135deg, #FFCC00 0%, #FF3399 100%);
	--bg-mobile-menu-head: #FF3399;
	--color-pink: #FF3399;
	--color-yellow: #FFFF00;
	--color-red: #FF0033;
	--red: #FF0033;
	--color-blue: #00CCFF;
	--color-green: #00FF33;
	--green: #00FF33;
	--color-gray-600: #FF99CC;
	--borders-color: #FF33CC;
	--border-radius-outer: 6px;
	--border-radius-inner: 3px;
	--border-radius-lobby-filters: 18px;
	--shadow-nav-button: linear-gradient(90deg, rgba(255, 102, 0, 0.00) 0%, #FF3399 100%);
	--shadow-nav-button-main-page: linear-gradient(90deg, rgba(255, 51, 153, 0.00) 0%, #FF3366 100%);
}